body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border-radius: 4px;
    background-color: rgb(47, 0, 255);
    text-align: center;
}

.capitulos {
    text-align: center  ;
}

.capitulos button {
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color:rgb(47, 0, 255);
}

img {
    border-radius: 4px;
}